<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://proyectotickets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>proyectotickets.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>proyectotickets</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$proyectotickets</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CooperatorConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ticketserverr.database.windows.net;Initial Catalog=BaseTicket;Persist Security Info=True;User ID=miuser;Password=CsSnIs22;Connect Timeout=60;Application Name=BaseTicket" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CooperatorConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Persist Security Info=True;Initial Catalog=BaseTicket;Data Source=ticketserverr.database.windows.net; Application Name=BaseTicket;User ID=miuser;Password=CsSnIs22; Connection Timeout=60;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BaseTicketConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=ticketserverr.database.windows.net;Initial Catalog=BaseTicket;User ID=miuser;Password=CsSnIs22" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ticketserverr.database.windows.net;Initial Catalog=BaseTicket;Persist Security Info=True;User ID=miuser;Password=CsSnIs22" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BaseTicketConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ticketserverr.database.windows.net;Initial Catalog=BaseTicket;Persist Security Info=True;User ID=miuser;Password=CsSnIs22" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BaseTicketConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ticketserverr.database.windows.net;Initial Catalog=BaseTicket;User ID=miuser;Password=CsSnIs22</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CooperatorConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>